CC = x86_64-w64-mingw32-gcc
CXX = x86_64-w64-mingw32-g++
CPP = x86_64-w64-mingw32-cpp
WINDRES = x86_64-w64-mingw32-windres
RANLIB = x86_64-w64-mingw32-ranlib
AR = x86_64-w64-mingw32-ar
CFLAGS =
CXXFLAGS =
TARGET = Windows
ROOT_PATH = /usr/x86_64-w64-mingw32

CMAKE_ARGS  = "-DCMAKE_SYSTEM_NAME=$(TARGET)"
CMAKE_ARGS += "-DCMAKE_C_COMPILER=$(CC)"
CMAKE_ARGS += "-DCMAKE_CXX_COMPILER=$(CXX)"
CMAKE_ARGS += "-DCMAKE_RC_COMPILER=$(WINDRES)"
CMAKE_ARGS += "-DCMAKE_C_FLAGS=$(CFLAGS)"
CMAKE_ARGS += "-DCMAKE_CXX_FLAGS=$(CXXFLAGS)"
CMAKE_ARGS += "-DCMAKE_FIND_ROOT_PATH=$(ROOT_PATH)"
CMAKE_ARGS += "-DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER"
CMAKE_ARGS += "-DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY"
CMAKE_ARGS += "-DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY"
CMAKE_ARGS += "-DCMAKE_BUILD_TYPE=Release"

AUTOTOOLS_ARGS  = "CC=$(CC)"
AUTOTOOLS_ARGS += "CXX=$(CXX)"
AUTOTOOLS_ARGS += "CPP=$(CPP)"
AUTOTOOLS_ARGS += "CFLAGS=$(CFLAGS)"
AUTOTOOLS_ARGS += "CXXFLAGS=$(CXXFLAGS)"
AUTOTOOLS_ARGS += "--with-sysroot=$(ROOT_PATH)"
AUTOTOOLS_ARGS += "--host=x86_64-pc-windows"
AUTOTOOLS_ARGS += "--disable-shared"
